.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.EmailSidebar {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.EmailSidebar h2 {
  margin-bottom: 10px;
}

.EmailSidebar ul {
  list-style: none;
  padding: 0;
}

.EmailSidebar li {
  padding: 10px;
  cursor: pointer;
}

.EmailSidebar li:hover {
  background-color: #f0f0f0;
}

.EmailSidebar .unread {
  background-color: #ffffff;
}

.EmailBody {
  width: 60%;
  padding: 20px;
}

.EmailBody h2 {
  margin-bottom: 10px;
}
